.connect-wallet-btn-container {
  position: relative;
  display: inline-block;
  &:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  }

  .btn {
    background: #333;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: #555;
      transition: all 0.3s ease;
    }
  }

  .profile-box {
    position: relative;

    .profile-info {
      background: #333;
      color: #fff;
      padding: 6px 12px;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
    }

    .menu {
      position: absolute;
      top: 40px;
      right: 0;
      background: #222;
      border: 1px solid #444;
      border-radius: 4px;
      width: 130px;
      z-index: 1000;

      .menu-item {
        padding: 8px 10px;
        color: #fff;
        cursor: pointer;
        &:hover {
          background: #333;
        }
      }
    }
  }
}
