.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 5px 5px;

  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.01));
  backdrop-filter: blur(6px);
  transition: all 0.5s ease-in-out;
  &:hover {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.05));
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.header.scrolled {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.01));
  backdrop-filter: blur(2px);

  &:hover {
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.05));
    transition: background 0.3s, backdrop-filter 0.3s;
  }
}
